a {
	transition: all .5s ease;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #222222;
}

p {
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: -.025em;
	line-height: 22px;
	font-size: 14px;
}

img {
	max-width: 100%;
	height: auto;
}
