.section-title {
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: -.05em;

	&--decorate {
		position: relative;
		padding-bottom: 41px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 1px;
			width: 110px;
			background-color: $color_high;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--white {
		color: #fff;
	}
}

.svg-icon {
	fill: #777;
    fill-rule: evenodd;
    width: 29px;
    height: 29px;
}

.svg-wrapper {
	text-align: center;

	&--portfolio {
		text-align: center;
		@include _media('md') {
			text-align: left;
		}

	}
}

.cta-button {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #35c2f8;
	border: 1px solid #35c2f8;
	height: 60px;
	line-height: 58px;
	padding: 0 33px;
	font-weight: 600;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	cursor: pointer;
	transition: all .4s ease-in;
	


		&:hover {
			border-color: #35c2f8;  
			background-color: #fff;
			color: #222;
			text-decoration: none;
		}
}

/* Social team section */
/* Font awesome mixins */

.twitter {
  @include fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.facebook {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-facebook-f);
	}
} 

.pinterest {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-pinterest-p);
	}
} 
.google-plus {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-google-plus-g);
	}
}

/* end mixins font awesome */

/* Hover socisal links */
.hover-twitter, .hover-facebook, .hover-google-plus, .hover-pinterest {
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}
.hover-twitter {
	&:hover {
		background-color: #00aced;
	}
}
.hover-facebook {
	&:hover {
		background-color: #3b5998;
	}
	
}
.hover-google-plus {
	&:hover {
		background-color: #d95232;
	}
}

.hover-pinterest {
	&:hover {
		background-color: #c52904;
	}
}

/* End hover socisal links */

/* Contact section */
/* Font awesome mixins */

.contact-tel {
	@include fa-icon;
	@extend .fa;

	&:before {
		content: fa-content($fa-var-mobile-alt);
	
	}
}
.contact-twitter {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-twitter);
	
	}
}
.contact-google-plus {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-google-plus-g);
	
	}
}
.contact-email {
	@include fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-envelope);

	}
}
.contact-facebook {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-facebook-f);
		
	}
}
.contact-pinterest {
	@include fa-icon;
	@extend .fab;

	&:before {
		content: fa-content($fa-var-pinterest-p);
		
	}
}

/* Nab bars icon */
.nav-bar__icon {
	@include fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-bars);
		
	}
}
