@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Noto+Sans');
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

@font-face {
  font-family: 'Bello';
  src: 	url('../fonts/bello-pro.woff') format("woff"),
  		url('../fonts/bello-pro.eot') format("embedded-opentype"),
  		url('../fonts/bello-pro.ttf') format("truetype");
  font-weight: 400;
  font-style: normal; 
}

