.services {
	text-align: center;
	padding: 48px;

	@include _media('lg') {
		padding: 97px;
	}

}

.services-list {
	margin-top: 25px;
	@include _media('md') {
		margin-top: 77px;
	}

	&__item {

		&-image {
			margin-bottom: 35px;
		}

		&-title {
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: -.025em;
			font-weight: 600;
		}

		&-text {
			color: #888888;
		}
	}
}